<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <!--整合Spring-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <!--配置监听器-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class><!--可以收到事件什么时候发生以及用什么作为响应的通知-->
    </listener>
    <!--配置前置控制器-->
    <servlet>
        <servlet-name>springmvc</servlet-name><!-- servlet的内部名称，自定义 -->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!-- servlet的类全名：包名+类名 -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/springmvc-servlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name><!-- servlet的内部名称，一定要和上面的内部名称保持一致 -->
        <url-pattern>*.do</url-pattern><!-- servlet的映射路径（访问servlet的名称 -->
    </servlet-mapping>
</web-app>
